extends baseEmail

block content
  p Hi #{firstName},
  p There is a critical requirement for you to update details for your project with SBD ID #{sbdID}. 
  p The project has been identified to be in scope. 
  p This is a TEST EMAIL for testing my email sending utility. Please don't do anything about this.